@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "ABeeZee", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}

h2 {
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
}

.--massive {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.--big {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.--huge {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

.--medium {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.--small {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.--bold {
  font-weight: 500;
}

.--bolder {
  font-weight: 600;
}

.--boldest {
  font-weight: 700;
}

input {
  border: 1px solid #1B3840;
  height: 54px;
  line-height: 54px;
  padding: 0px 8px;
  color: rgba(27, 56, 64, 0.5);
  background-color: transparent;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 24px !important;
    line-height: 140% !important;
  }

  .--big {
    font-size: 16px;
    line-height: 19px;
  }
}
@media screen and (min-width: 500px) {
  .whyYouNeedMatrix {
    min-height: 1200px !important;
    background-size: 100% 99% !important;
  }

  .header {
    background-position: 0px 100px !important;
  }
}
@media screen and (min-width: 600px) {
  .header {
    background-position: top !important;
  }
}
@media screen and (max-width: 380px) {
  h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 370px) {
  .header {
    background-position: 0 100px !important;
  }

  .tab {
    white-space: nowrap;
  }

  .desiredJob {
    margin-bottom: 100px;
  }
}
.btn {
  max-width: 243px;
  height: 78px;
  width: 100%;
  background: #1B3840;
  color: #FFFFFF;
  line-height: 78px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 20px;
}
.btn:hover {
  background: #FFFFFF;
  color: #1B3840;
}
.btn:active {
  background: #FB9146;
  color: #FFFFFF;
}
.btn:disabled {
  background: #F3C4A9;
  color: #FFFFFF;
}

.altBtn {
  max-width: 243px;
  height: 78px;
  font-size: 20px;
  width: 100%;
  background: #F2A873;
  color: #1B3840;
  line-height: 78px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1B3840;
}
.altBtn:hover {
  background: #F2A873;
  color: #1B3840;
  border-color: transparent;
}
.altBtn:active {
  color: #1B3840;
  border-color: #F2A873;
}
.altBtn:disabled {
  color: #1B3840;
  border-color: #F3C4A9;
}

.line {
  width: 44px;
  height: 3px;
  background-color: #F2A873;
}

.container {
  max-width: 1243px;
  padding: 0 14px;
  width: 100%;
  margin: 0 auto;
}

.header {
  margin: 0 auto;
  margin-bottom: 50px;
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #1B3840;
  max-width: 2000px;
}
.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
  margin-bottom: 22px;
}
.headerContainer .logo {
  width: 144px;
  height: 34px;
  background-image: url(../images/DarkLogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 20px;
}
.headerContainer nav {
  max-width: 1043px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: rgba(27, 56, 64, 0.5568627451);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 200px;
  z-index: 4;
}
.headerContainer nav ul li {
  margin: 0 0 20px 0;
}
.headerContainer nav ul li a {
  color: #FFFFFF;
}
.headerContainer nav button {
  border-radius: 0 !important;
}
.headerContainer nav button:first-of-type {
  width: 291px;
  height: 50px;
  line-height: 50px;
}
.headerContainer nav button:nth-of-type(2) {
  width: 83px;
  height: 50px;
  line-height: 50px;
  display: none;
}
.headerContainer nav .altBtn:first-of-type {
  border: none !important;
}
.headerContainer nav .custom-select {
  display: none;
}
.headerContainer nav .burgermenu {
  width: 34px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/menu.svg);
  background-size: contain;
  z-index: 10;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.headerSecondContianer {
  text-align: center;
}
.headerSecondContianer h1 {
  margin-bottom: 20px;
}
.headerSecondContianer p {
  max-width: 440px;
}
.headerSecondContianerForm {
  width: 100%;
  max-width: 392px;
}
.headerSecondContianerFormTop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.headerSecondContianerFormTop div {
  border-bottom: 1px solid #1B3840;
  padding-bottom: 7px;
}
.headerSecondContianerFormRow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}
.headerSecondContianerFormRow .fm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 83px;
  margin-left: 20px;
}
.headerSecondContianerFormRow .fm button {
  width: 100%;
  background-color: transparent;
  border: 1px solid #1B3840;
}
.headerSecondContianerFormRow .fm button:first-of-type {
  border-right: none;
}
.headerSecondContianerFormRow input {
  width: 100%;
}
.headerSecondContianerFormRow button {
  height: 54px;
  line-height: 53px;
  max-width: none;
}

.navigationContainer a {
  display: inline;
  color: #1B3840 !important;
}
.navigationContainer a:last-of-type {
  color: #CDCDCD !important;
  margin-left: 10px;
}

.learning {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 80px;
}
.learning img {
  width: 100%;
}
.learningContainer {
  text-align: center;
}
.learningContainer p {
  margin: 20px 0;
}
.learningContainer button {
  height: 60px;
  width: 100%;
  margin-bottom: 10px;
  line-height: 60px !important;
  max-width: none !important;
}
.learningContainer button:last-of-type {
  margin: 0 !important;
  background-color: transparent;
}

.videoCourse {
  width: 100%;
}
.videoCourseContainer {
  color: #1B3840;
}
.videoCourseContainerTop {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.videoCourseContainerTop h1 {
  margin-bottom: 10px;
}
.videoCourseContainerFlex {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.videoCourseContainerFlex img {
  margin: 0 auto;
  margin-bottom: 20px;
}
.videoCourseContainerFlex p {
  line-height: 140%;
}

.tryForFree {
  width: 100%;
  margin-bottom: 60px;
}
.tryForFreeContainer {
  text-align: center;
  color: #1B3840;
}
.tryForFreeContainerTop {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
}
.tryForFreeContainerTop h1 {
  margin-bottom: 10px;
}
.tryForFreeContainer p {
  max-width: 345px;
  margin: 0 auto;
  line-height: 140%;
  margin-bottom: 40px;
}
.tryForFreeContainerNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}
.tryForFreeContainerNavigation img {
  margin: 0 13px 0 8px;
}
.tryForFreeContainerNavigationItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BDBDBD;
  cursor: pointer;
}
.tryForFreeContainerNavigationItemCircle {
  width: 33px;
  height: 33px;
  background-color: #BDBDBD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  margin-right: 5px;
  line-height: 33px !important;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.tryForFreeContainerNavigationItemCircle p {
  margin: 0 !important;
}
.tryForFreeContainerNavigation .--tryForFreeContainerNavigationItemActive .tryForFreeContainerNavigationItemCircle {
  background-color: #F2A873;
}
.tryForFreeContainerNavigation .--tryForFreeContainerNavigationItemActive span {
  color: #000;
}
.tryForFreeContainerMain img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
}
.tryForFreeContainerMainNavigation {
  text-align: start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 166px 14px [col-start] 14px 166px 14px [col-start];
  grid-template-columns: repeat(2, 166px [col-start]);
  -webkit-column-gap: 14px;
     -moz-column-gap: 14px;
          column-gap: 14px;
}
.tryForFreeContainerMainNavigation .altBtn {
  height: 50px;
  line-height: 19px !important;
  border: none !important;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px !important;
  border-radius: 4px;
}
.tryForFreeContainerMainNavigation .select-selected {
  border: 1px solid #F2A873 !important;
  border-radius: 4px !important;
  text-align: center !important;
}

.aboutMatrix {
  margin-bottom: 60px;
}
.aboutMatrixContainer {
  color: #1B3840;
}
.aboutMatrixContainerTop {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 54px;
}
.aboutMatrixContainerTop h1 {
  margin-bottom: 10px;
}
.aboutMatrixContainerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.aboutMatrixContainerMainInner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 142px 39px [col-start] 39px 142px 39px [col-start];
  grid-template-columns: repeat(2, 142px [col-start]);
  -ms-grid-rows: 70px 47px [row-start] 47px 70px 47px [row-start];
  grid-template-rows: repeat(2, 70px [row-start]);
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
  row-gap: 47px;
  margin-bottom: 40px;
  padding-left: 24px;
  max-width: 500px;
}
.aboutMatrixContainerMainInner > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.aboutMatrixContainerMainInner > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.aboutMatrixContainerMainInner > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.aboutMatrixContainerMainInner > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.aboutMatrixContainerMainInnerItem {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F3C4A9;
  position: relative;
  padding: 0 5px;
  text-align: center;
}
.aboutMatrixContainerMainInnerItem::before {
  position: absolute;
  content: "";
  top: -20px;
  left: -20px;
  font-weight: 500;
  font-size: 34px;
  text-transform: uppercase;
  color: #1B3840;
}
.aboutMatrixContainerMainInnerItem:nth-of-type(1)::before {
  content: "1 048 259";
}
.aboutMatrixContainerMainInnerItem:nth-of-type(2)::before {
  content: "19 526";
}
.aboutMatrixContainerMainInnerItem:nth-of-type(3)::before {
  content: "85 265";
}
.aboutMatrixContainerMainInnerItem:nth-of-type(4)::before {
  content: ">50 ";
}
.aboutMatrixContainerMain img {
  width: 100%;
}

.certificate {
  width: 100%;
  margin-bottom: 60px;
}
.certificateContainer {
  color: #1B3840;
}
.certificateContainerTop {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.certificateContainerTop h1 {
  margin-bottom: 10px;
}
.certificateContainer p {
  text-align: center;
  line-height: 140%;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 305px;
}
.certificateContainer img {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .header .altBtn {
    display: inline-block !important;
  }
  .header .altBtn:last-of-type {
    background-color: transparent;
  }
  .header .custom-select {
    display: block !important;
  }

  .learningContainerInnerButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .learningContainerInnerButtons .btn {
    margin-right: 18px;
  }

  .videoCourseContainerFlex p {
    max-width: 437px;
  }

  .tryForFreeContainerNavigation {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .tryForFreeContainerMainNavigation {
    -ms-grid-columns: (210px [col-start])[2];
    grid-template-columns: repeat(2, 210px [col-start]);
    -ms-grid-rows: 60px 20px [row-start] 20px 60px 20px [row-start];
    grid-template-rows: repeat(2, 60px [row-start]);
    row-gap: 20px;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .tryForFreeContainerMainNavigation .custom-select {
    display: none;
  }
  .tryForFreeContainerMainNavigationItem {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    border: 1px solid #F2A873;
    border-radius: 4px;
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
  .tryForFreeContainerMainNavigation .altBtn {
    height: 60px;
  }
  .tryForFreeContainerMainNavigation .A {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .tryForFreeContainerMainNavigation .B {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .tryForFreeContainerMainNavigation .C {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .aboutMatrixContainerMainInner {
    -ms-grid-columns: 186px 44px [col-start] 44px 186px 44px [col-start];
    grid-template-columns: repeat(2, 186px [col-start]);
    -ms-grid-rows: 100px 57px [row-start] 57px 100px 57px [row-start];
    grid-template-rows: repeat(2, 100px [row-start]);
    -webkit-column-gap: 44px;
       -moz-column-gap: 44px;
            column-gap: 44px;
    row-gap: 57px;
  }

  .aboutMatrixContainerMainInner > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .aboutMatrixContainerMainInner > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .aboutMatrixContainerMainInner > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .aboutMatrixContainerMainInner > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .aboutMatrixContainerMainInnerItem {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    height: auto !important;
  }

  .certificateContainer p {
    max-width: 440px;
  }
}
@media screen and (min-width: 768px) {
  .learningContainer h1, .learningContainer p {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
  .learningContainer img {
    width: 100%;
    max-width: 543px;
  }

  .videoCourseContainerFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .videoCourseContainerFlex p {
    font-size: 18px !important;
  }
  .videoCourseContainerFlex:last-child {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .tryForFreeContainer p {
    max-width: none !important;
  }
  .tryForFreeContainer .tryForFreeContainerNavigation {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .tryForFreeContainerMainNavigation {
    -ms-grid-columns: (230px [col-start])[3];
    grid-template-columns: repeat(3, 230px [col-start]);
  }
  .tryForFreeContainerMainNavigationItem {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .whyYouNeedMatrix {
    background-size: 100% 90% !important;
    margin-bottom: 0px !important;
    max-height: none !important;
    min-height: 1400px !important;
  }

  .headerContainer {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .headerContainer nav {
    max-width: 460px !important;
  }

  .whyYouNeedMatrixContainerInnerLeft {
    max-width: 322px;
  }
  .whyYouNeedMatrixContainerInnerLeftItem {
    max-width: none !important;
    margin-bottom: 60px !important;
  }
  .whyYouNeedMatrixContainerInnerLeftItem p {
    max-width: none !important;
    font-size: 24px;
    line-height: 28px;
  }

  .weOffer .showTablets {
    display: block !important;
  }

  .aboutMatrixContainerMainInner {
    margin-left: auto;
    margin-right: auto;
  }

  .aboutMatrixContainerMain img {
    max-width: 451px;
    margin-left: auto;
    margin-right: auto;
  }

  .certificateContainer p {
    max-width: none !important;
  }

  .startTheCourseContainer p {
    max-width: 633px;
    line-height: 140%;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .whyYouNeedMatrix {
    min-height: 1400px !important;
    padding-top: 100px !important;
  }
  .whyYouNeedMatrix img {
    width: 100%;
    max-height: 408px !important;
    max-width: none !important;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .weOfferContainerGrid {
    -ms-grid-columns: (auto [col-start])[2] !important;
    grid-template-columns: repeat(2, auto [col-start]) !important;
    -ms-grid-rows: (auto [row-start])[4] !important;
    grid-template-rows: repeat(4, auto [row-start]) !important;
    margin-bottom: 27px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .weOfferContainerGrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .weOfferContainerGrid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .weOfferContainerGrid > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .weOfferContainerGrid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }

  .weOfferContainerGrid > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .weOfferContainerGrid > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }

  .weOfferContainerGrid > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .weOfferContainerGrid > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .weOfferContainerGrid button {
    display: none;
  }
  .weOfferContainerGridItem {
    max-width: 236px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .weOfferContainerGridItem img {
    width: 52px;
  }

  .--huge {
    font-size: 24px !important;
  }

  .logo {
    margin-bottom: 0 !important;
  }
}
@media screen and (min-width: 1000px) {
  .whyYouNeedMatrix {
    background-size: 100% 85% !important;
    min-height: 1100px !important;
  }

  .whyYouNeedMatrixContainerInner {
    min-height: 660px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  .whyYouNeedMatrixContainerInnerLeft {
    width: 0px !important;
    min-width: 0px !important;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 308px !important;
    text-align: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(1) {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(2) {
    top: 100px;
    left: 92px;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(3) {
    top: 240px;
    left: 15px;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(4) {
    top: 440px;
    left: 23px;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(5) {
    top: 540px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(6) {
    top: 100px;
    left: 580px;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(7) {
    top: 271px;
    left: 651px;
  }
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(8) {
    top: 440px;
    left: 640px;
  }

  .weOfferContainer .showTablets {
    display: none !important;
  }
  .weOfferContainer .weOfferContainerGrid {
    -ms-grid-columns: (auto [col-start])[3] !important;
    grid-template-columns: repeat(3, auto [col-start]) !important;
    -ms-grid-rows: (auto [row-start])[3] !important;
    grid-template-rows: repeat(3, auto [row-start]) !important;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(7) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(8) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .weOfferContainer .weOfferContainerGrid > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .weOfferContainer .weOfferContainerGrid button {
    display: inline-block;
    margin-top: 50px;
  }

  .reviewsContainerControl {
    max-width: 465px;
    margin: 0 auto;
  }

  .learningContainer {
    text-align: start !important;
    padding-left: 50px;
  }
  .learningContainer h1, .learningContainer p {
    margin-left: 0;
    margin-right: 0;
    font-size: 60px !important;
    width: 524px;
    max-width: none;
    line-height: 70px;
  }
  .learningContainer p {
    font-size: 20px !important;
    line-height: 140%;
  }
  .learningContainer .learningContainerInner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .learningContainer .learningContainerInnerButtons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
  }
  .learningContainer img {
    min-width: 543px;
    -webkit-transform: translate(-155px, -50px);
            transform: translate(-155px, -50px);
  }

  .tryForFreeContainerMain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .tryForFreeContainerMain img {
    margin-bottom: 0 !important;
    margin-right: 20px;
  }

  .tryForFreeContainerMainNavigation {
    -ms-grid-columns: (221px [col-start])[1];
    grid-template-columns: repeat(1, 221px [col-start]);
    -ms-grid-rows: (80px [row-start])[6];
    grid-template-rows: repeat(6, 80px [row-start]);
    position: relative;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }

  .tryForFreeContainerMainNavigation > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .tryForFreeContainerMainNavigation::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 347px;
    bottom: 45px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  }
  .tryForFreeContainerMainNavigation .altBtn {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    height: 80px !important;
    position: relative;
    z-index: 3;
  }

  .whyYouNeedMatrix {
    min-height: 1000px !important;
  }

  .aboutMatrixContainerMain {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .certificateContainer p {
    max-width: 804px !important;
    font-size: 18px !important;
    line-height: 140% !important;
  }

  .startTheCourse p {
    font-size: 20px !important;
    line-height: 140% !important;
    max-width: 838px;
  }
}
@media screen and (min-width: 1105px) {
  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(6) {
    left: 723px !important;
  }

  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(7) {
    left: 773px !important;
  }

  .whyYouNeedMatrixContainerInner .whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(8) {
    left: 770px !important;
  }
}
@media screen and (min-width: 1440px) {
  .headerContainer nav {
    max-width: none !important;
  }
  .headerContainer nav button:first-of-type {
    width: 200px !important;
  }
  .header .logo {
    margin-right: 28px;
  }

  .menu {
    position: static !important;
    width: auto !important;
    height: auto !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-transform: none !important;
            transform: none !important;
    padding: 0px !important;
    max-width: 650px !important;
    width: 100% !important;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    background-color: transparent !important;
    color: #1B3840 !important;
  }
  .menu li {
    margin: 0 !important;
    color: #1B3840 !important;
  }
  .menu li a {
    color: #1B3840 !important;
  }

  .burgermenu {
    display: none !important;
  }

  .learningContainerInner img {
    -webkit-transform: translateY(-115px) !important;
            transform: translateY(-115px) !important;
    width: 100%;
    max-width: none;
  }

  .videoCourseContainerFlex img {
    margin-right: 80px !important;
    margin-left: 0px !important;
  }
  .videoCourseContainerFlex:last-of-type img {
    margin-right: 0px !important;
    margin-left: 80px !important;
  }
  .videoCourseContainerFlex p {
    max-width: none !important;
  }

  .tryForFreeContainerMain img {
    height: 626px;
    width: 907px;
  }

  .startTheCourse {
    padding-top: 53px !important;
    margin: 0 auto;
    max-width: 2380px;
  }
}
.--activeMenu {
  -webkit-transform: translateY(0%) !important;
          transform: translateY(0%) !important;
}

.--activeMenuBtn {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: transparent !important;
  color: #1B3840 !important;
  padding: 17px 10px !important;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: 10px;
  width: 11px;
  height: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/select.svg);
}

.select-items div, .select-selected {
  color: #1B3840 !important;
  background-color: transparent;
  padding: 17px 17px;
  height: 50px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #1B3840;
}

.select-items {
  position: absolute;
  background-color: #FFFFFF;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  color: #1B3840 !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #F2A873;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.whyYouNeedMatrix {
  background-image: url(../images/youNeedMatrix/background.png);
  background-size: cover;
  width: 100%;
  min-height: 952px;
  padding-top: 50px;
  color: #1B3840;
  background-repeat: no-repeat;
  margin-bottom: 70px;
  max-height: 950px;
}
.whyYouNeedMatrixContainerTop {
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-bottom: 40px;
}
.whyYouNeedMatrixContainerTop .line {
  margin-top: 10px;
}
.whyYouNeedMatrixContainerInner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.whyYouNeedMatrixContainerInnerLeft {
  width: 100%;
  min-width: 175px;
}
.whyYouNeedMatrixContainerInnerLeftItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 19px;
  max-width: 211px;
  margin-bottom: 40px;
  width: 100%;
}
.whyYouNeedMatrixContainerInnerLeftItem img {
  margin-right: 8px;
  width: 35px !important;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(1) {
  color: #DC0111;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(2) {
  color: #D55400;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(3) {
  color: #E39302;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(4) {
  color: #018925;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(5) {
  color: #0488D2;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(6) {
  color: #DD5701;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(7) {
  color: #94057E;
}
.whyYouNeedMatrixContainerInnerLeftItem:nth-of-type(8) {
  color: #0C3595;
}
.whyYouNeedMatrixContainerInnerLeftItem:last-of-type {
  margin-bottom: 0 !important;
}
.whyYouNeedMatrixContainerInner img {
  max-height: 267px;
}
.whyYouNeedMatrixContainerInner img:first-of-type {
  max-width: 194px;
  max-height: 193px;
}

.weOffer {
  width: 100%;
  background-color: #FFFFFF;
  color: #1B3840;
}
.weOfferContainer {
  padding-top: 37px;
  padding-bottom: 30px;
  text-align: center;
}
.weOfferContainer h2 {
  margin-bottom: 30px;
}
.weOfferContainerGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100% [col-start])[1];
  grid-template-columns: repeat(1, 100% [col-start]);
  -ms-grid-rows: auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start] 35px auto 35px [row-start];
  grid-template-rows: repeat(9, auto [row-start]);
  row-gap: 35px;
}
.weOfferContainerGrid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(3) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(4) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(5) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(6) {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(7) {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(8) {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
}
.weOfferContainerGrid > *:nth-child(9) {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
}
.weOfferContainerGridItem img {
  margin-bottom: 20px;
}
.weOfferContainer button {
  width: 100%;
  max-width: none;
  border: none;
}

.reviews {
  margin-bottom: 70px;
  width: 100%;
  color: #1B3840;
}
.reviewsContainerTop {
  margin-bottom: 20px;
}
.reviewsContainerTop h1 {
  margin-bottom: 10px;
}
.reviewsContainerSlider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}
.reviewsContainerSliderItem {
  border: 1px solid #1B3840;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
}
.reviewsContainerControl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.reviewsContainerControlDots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.reviewsContainerControlDotsItem {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #F2A873;
  margin-right: 23px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.reviewsContainerControlDotsItem:last-of-type {
  margin-right: 0 !important;
}
.reviewsContainerControlDots .--dotActive {
  background-color: #1B3840;
  outline: 1px solid #1B3840;
  outline-offset: 7px;
}

.startTheCourse {
  width: 100%;
  background-color: #F2A873;
  padding: 20px 14px;
}
.startTheCourseContainer p {
  line-height: 140%;
  text-align: center;
  margin-bottom: 10px;
}
.startTheCourseContainer .btn {
  margin: 0 auto;
  height: 70px;
  max-width: 314px !important;
  line-height: 70px !important;
  display: block;
}