@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$yellowRed: #F2A873;
$orange: #FB9146;
$grey: #979797;
$white: #FFFFFF;
$main: #1B3840;
$pink: #F3C4A9;
$black: #000;

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-y: auto;
    overflow-x: hidden;
	font-family: 'ABeeZee', sans-serif;
    font-family: 'Roboto', sans-serif;
	background-color: #F4F8F9;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


h1{
	font-weight: 500;
	font-size: 36px;
	line-height: 45px;
}
h2{
	font-weight: 400;
	font-size: 34px;
	line-height: 38px;
}
.--massive{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.--big{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}
.--huge{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

.--medium{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

.--small{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;	
}
.--bold{
	font-weight: 500;
}
.--bolder{
	font-weight: 600;
}
.--boldest{
	font-weight: 700;
}
.btn{
	max-width: 243px;
	height: 78px;
	width: 100%;
	background: $main;
	color: $white;
	line-height: 78px;
	transition: .3s;
	font-size: 20px;
	&:hover{
		background: $white;
		color: $main;
	}
	&:active{
		background: $orange;
		color: $white;
	}
	&:disabled{
		background: $pink;
		color: $white;
	}
}
.altBtn{
	max-width: 243px;
	height: 78px;
	font-size: 20px;
	width: 100%;
	background: $yellowRed;
	color: $main;
	line-height: 78px;
	transition: .3s;
	border: 1px solid $main;
	&:hover{
		background: $yellowRed;
		color: $main;
		border-color: transparent;
	}
	&:active{
		color: $main;
		border-color: $yellowRed;
	}
	&:disabled{
		color: $main;
		border-color: $pink;
	}
}

.line{
	width: 44px;
	height: 3px;
	background-color: #F2A873;
}

.container {
	max-width: 1243px;
	padding: 0 14px;
	width: 100%;
	margin: 0 auto;
}
.custom-select {
	position: relative;
}
  
.custom-select select {
	display: none;
}

.select-selected {
	background-color: transparent ;
	color: $main ;
	padding: 17px 10px ;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 22px;
	right: 10px;
	width: 11px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/select.svg);
}




.select-items div,.select-selected {
	color: $main ;
	background-color: transparent;
	padding: 17px 17px;
	height: 50px;
	border: 1px solid transparent;
	
	cursor: pointer;
	transition: .3s;
	
}

.select-items {
	position: absolute;
	background-color: $white;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	color: $main ;
	transition: .3s;
}

.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: $yellowRed;
}

.header{
    padding: 40px 0 40px 0;
    background: #FFFFFF;
    &Container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            display: block;
        }
        &Mobile{
            background-image: url(../images/userProfileHeader.svg);
            height: 32px;
            width: 32px;
        }
    }
}
.main{padding-top: 40px;}
.txtDesktop{
    display: none;
}
.auth{
    width: 100%;

    color: $main;
    .--massive{
        max-width: fit-content;
        margin: 0 auto;
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 40px;
    }
    .--massive{
        text-align: start ;
        margin-right: 0 ;
        margin-left: 0 ;
    }
    .authContainerName{
        display: flex;
        flex-direction: column;
        .input:last-of-type::before{content: 'Last Name'}
    }
    .input{
        position: relative;
        &::before{
            content: 'First Name';
            top: 8px;
            left: 18px;
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            position: absolute;
            height: 15px;

        }
        &:nth-of-type(2)::before{content: 'Display Name';}
        &:nth-of-type(3)::before{content: 'Email';}
    }
    input{
        margin-bottom: 20px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        height: 54px;
        line-height: 24px;
        padding-left: 18px;
        padding-top: 25px;
        border-radius: 4px;
        background-color: $white;
        transition: .3s;
        &:focus{
            border: 1px solid #F2A873;
        }
    }
    .btn{
        max-width: none ;
        height: 64px;
        line-height: 64px;
        box-shadow: 0px 0px 30px rgba(27, 56, 64, 0.4);
    }
    a{
        display: block;
        text-align: center;
        margin: 0 auto;
        color: #808080 ;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
        text-align: center;
    }
    
}

.changePassword{
    h1{
        margin-bottom: 20px;
    }
    .input{
        margin-bottom: 20px;
        position: relative;
        &::before{
            content: 'Current password';
            top: 8px;
            left: 18px;
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            position: absolute;
            height: 15px;

        }
        &:nth-of-type(2)::before{content: 'New Password';}
        &:nth-of-type(3)::before{content: 'Confirm new password';}
        span{
            font-weight: 300;
            font-size: 10px;
            line-height: 15px;
            color: #626262;
        }
    }
    input{
        margin-bottom: 6px;
        width: 100%;
        font-weight: 400;
        font-size: 16px;
        height: 54px;
        line-height: 24px;
        padding-left: 18px;
        padding-top: 25px;
        border-radius: 4px;
        background-color: $white;
        transition: .3s;
        &:focus{
            border: 1px solid #F2A873;
        }
    }
    .btn{
        max-width: none ;
        height: 64px;
        line-height: 64px;
        box-shadow: 0px 0px 30px rgba(27, 56, 64, 0.4);
    }
    
}


.userArchiveMatrixPersonalBot{
    .btn{
        margin-bottom: 0px ;
    }
}
.testDesktop{
    .txtDesktopMain{
        height: 425px;
    }
}


.reanimation{
    width: 100%;
    margin-bottom: 20px;
    &Container{
        &Top{
            width: 100%;
            padding-bottom: 20px;
            border-bottom: 1px solid #BDBDBD;
            text-align: center;
            display: flex;
            margin-bottom: 60px;
            img{
                display: block;
            }
            span{
                display: block;
                margin: 0 auto;
            }
        }
        input{
            background: #FFFFFF;
            border-radius: 4px;
            width: 100%;
            height: 54px;
            font-weight: 400;
            font-size: 12px;
            line-height: 25px;
            color: #626262;
            padding: 15px;
        }
        p{
            line-height: 132.49%;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        .btn{
            max-width: none;
            height: 64px;
            line-height: 64px;
        }
    }
}

form{
    margin-left: 0 ;
    margin-right: 0 ;
}

.purshares{
    width: 100%;
    margin-bottom: 100px;
    h1{
        display: block;
        padding-bottom: 20px;
        border-bottom: 1px solid #ACC1C6;
        margin-bottom: 30px;
    }
    &Table{
        width: 100%;
        overflow-x: scroll;
        position: relative;
        min-height: 425px;
        &::-webkit-scrollbar {
            width: 100%;
            height: 3px;
            border-radius: 20px;
        }
          
        &::-webkit-scrollbar-track{
            height: 3px;
            width: 100%;
            background-color: #C7C7C7;
        }
        &::-webkit-scrollbar-thumb {
            max-width: 89px;
            height: 3px;
            background-color: $yellowRed;
            border-radius: 20px;
            
        }
        &::-webkit-scrollbar-corner{
            border-radius: 20px;
        }
    }   
    table{
        width: 440px;
        position: relative;
        z-index: 3;
        
        &::after{
            content: '';
            top: 0;
            left: 0;
            height: 54px;
            width: 100%;
            background-color: #FFFFFF;
            position: absolute;
            z-index: 2;
        }
        th{
            text-align: start;
            width: 123px;
            padding-left: 18px;
        }
        tr{
            width: 123px;
            position: relative;
            z-index: 4;
            height: 54px;
            font-weight: 400;
            font-size: 16px;
            
            td{
                padding-left: 18px;
                &:nth-of-type(3){
                    color: #626262;
                }
            }
        }
    }
}


.matrixCompability{
    width: 100%;
    padding-bottom: 270px;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url(../images/userCompability.png);
    h1{
        margin-bottom: 20px;
    }
    &Form{
        width: 100%;
        &Row{
            .input:first-of-type::before{content: "Second partner's name*";}
            .input:last-of-type::before{content: 'Date of Birth*';}
            &:first-of-type{
                .input:first-of-type::before{content: 'First Name';}
                .input:last-of-type::before{content: 'Date of Birth*';}
            }
        }

        .input{
            margin-bottom: 20px;
            position: relative;
            &::before{
                
                top: 8px;
                left: 18px;
                font-weight: 300;
                font-size: 10px;
                line-height: 15px;
                position: absolute;
                height: 15px;
    
            }

            span{
                font-weight: 300;
                font-size: 10px;
                line-height: 15px;
                color: #626262;
            }
        }
        input{
            margin-bottom: 6px;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            height: 54px;
            line-height: 24px;
            padding-left: 18px;
            padding-top: 25px;
            border-radius: 4px;
            background-color: $white;
            transition: .3s;
            &:focus{
                border: 1px solid #F2A873;
            }
        }
        .btn{
            max-width: none ;
            height: 64px;
            line-height: 64px;
            box-shadow: 0px 0px 30px rgba(27, 56, 64, 0.4);
        }
    }
}

.yourMatrix{
    background-image: url(../images/userYourMatrix.png);
    padding-bottom: 330px;
    .matrixCompabilityForm{
        .input::before{
            content: "Your name* " ;
        }
    }
    .matrixCompabilityFormRow:last-of-type{
        display: flex;
        .input{
            width: 100%;
            margin-right: 15px;
        }
        
        .input::before{
            content: "Date of Birth*" ;
        }
        
    }
    
   
    .matrixCompabilityFormRowFM{
        display: flex;
        cursor: pointer;
        &Item{
            width: 41px;
            height: 54px;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: $main;
            &:last-of-type{
                border-left: 1px solid #DBDBDB;
            }
        }
    }
    .matrixCompabilityFormRow{
        .input{
            margin-left: 0px  ;
        }
    }
}


.archive{
    &Top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 24px;
        border-bottom: 1px solid #ACC1C6;
        margin-bottom: 53px ; 
        .--massive{
            border-bottom: none ;
            margin-bottom: 0 ;
            padding-bottom: 0 ;
        }
        &Right{
            display: flex;
            align-items: center;
            span{
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #8D8D8D;
                margin-right: 8px;
            }
        }
    }
    td{
        min-width: 134px;
    }
    th:last-of-type{
        padding-right: 18px ;
    }
}

.managment{
    width: 100%;
    max-width: none;
    
    .pursharesTable{display: none;}
    table{
        width: 100% ;
        margin-right: 0 ;
        tr{
             width: 100%;
            td, th{
                
                &:first-of-type{
                    min-width: 250px ;
                }
            }
        }
    }
    &Mobile{
        &Item{
            margin-bottom: 40px;
            &Row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px solid #C7C7C7;
                min-height: 40px;
                margin-bottom: 10px;
                color: $main;
                p{
                    display: block;
                    max-width: 167px;
                    width: 100%;
                }
            }
        }
    }
}
.consultantChat{
    width: 100%;
    max-width: 431px;
    h1{
        margin-bottom: 30px;
    }
    p{
        line-height: 140%;
        margin-bottom: 30px;
    }
    .btn{
        width: 100%;
        height: 64px ;
        line-height: 64px ;
        margin-bottom: 30px;
        max-width: none ;
    }
}

.userTarifs{
    h1{
        margin-bottom: 20px;
    }
    &Top{
        width: 100%;
        max-width: 375px;
        margin-bottom: 50px;
        &Main{
            background-color: $main;
            color: $white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 10px;
            border-radius: 4px;
            span{
                color: #D2D2D2;
            }
        }

    }
}

.tarifs{
	min-height: 0px ;
	
	padding-top:0px ;
	text-align: center;
	color: $main;
	margin-bottom: 70px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	h1 {
		font-family: 'ABeeZee', sans-serif;
	}
	&Container{
		&Heading{
			padding-bottom: 10px;
			border-bottom: 1px solid $main;
			display: inline-block;
			max-width: 270px;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		&Specific{
			display: flex;
			flex-direction: column;
			text-align: start;
			&Item{
				width: 100%;
				border: 1px solid $yellowRed;
				padding: 30px 14px 7px 14px;
				min-height: 470px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&Top{
					h2{
						text-align: center;
						margin-bottom: 30px;
					}
					ul{
						
						li{
							list-style: url(../images/tarifs/listOrange.svg);
							margin-left: 13px;
							margin-bottom: 20px;
						}
					}
				}
				h6{
					text-align: center;
					margin: 30px 0 13px 0;
				}
				&Bot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					&Price{
						width: 100%;
						max-width: fit-content;
						span{
							background: #E03F57;
							border-radius: 38px;
							padding: 2px 12px;
							color: $white;
						}
						h2{
							font-weight: 400;
							font-size: 40px;
							margin: 7px 0 2px 0;
						}
						p{
							color: $grey;
							text-decoration: line-through;
						}
						
					}
					button{
						height: 54px;
						width: 162px;
						line-height: 54px;
						background-color: $white;
					}
				}
				
				.bottomValid{
					color: $yellowRed;
					max-width: fit-content;
					margin: 19px auto 30px auto;
				}
				&:nth-of-type(2){
					color: $white;
					background-color: $main;
					margin: 47px 0 28px 0;
				}
				&:nth-of-type(3){
					padding-bottom: 30px;
				}
			}
		
			.tarifsContainerSpecificItemOrange{
				background-color: $yellowRed;
				color: $main ;
				button{
					background-color: $main;
					color: $yellowRed;
				}
				li{
					list-style: url(../images/tarifs/listMain.svg);
				}
				p{color: $main ;}
			}
			.tarifsContainerSpecificItemDefault{
				color: $main ;
				background-color: transparent;
			}
		}
	}
}

.userArchiveMatrixPersonal{
    width: 100%;
    .--massive{
        font-size: 24px ;
        line-height: 24px ;
    }
    &Top{
        width: 100%;
        padding-bottom: 10px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ACC1C6;
        display: flex;
        align-items: center;
        &Date{
            display: flex;
            flex-direction: column;
            margin-left: auto;
            span{
                font-weight: 400;
                font-size: 12px;
                line-height: 14px;
                color: #9D9D9D;
                margin-bottom: 5px;
            }
            p{
                color: #626262;
            }
        }
    }
    &Inner{
        width: 100%;
        &Item{
            margin-bottom: 20px;
        }
        &Accordion{
            background-color: $white;
            display: flex;
            align-items: center;
            padding: 18px;
            position: relative;
            transition: .3s;
            .accordionBtn{
                margin-left: auto;
                transition: .3s;
            }
            &::after{
                height: 1px;
                transition: .3s;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                width: calc(100% - 36px);
                background-color: transparent;
            }
        }
        .--userArchiveMatrixPersonalInnerAccordionOpened{
            .accordionBtn{
                transform: rotate(180deg);
            }
            &::after{background-color: $main;}
        }
        &AccordionContent{
            padding: 18px;
            background-color: $white;
            transition: .3s;
            .--small{
                line-height: 140% ;
                color: $black;
            }
            &Comment{
                display: flex;
                margin-bottom: 20px;
                .circle{
                    min-width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    background-color: $yellowRed;
                    color: $white;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 20px;
                    margin-right: 10px;
                }
            }
        }
        &AccordionLocked{
            width: 100%;
            padding: 18px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $white;
            p{
                line-height: 21px;
                margin-bottom: 36px;
                text-align: center;
            }
            .btn{
                max-width: 206px ;
                height: 50px;
                line-height: 50px;
            }
        }
    }
    &Bot{
        padding: 18px;
        background-color: $yellowRed;
        color: $main;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        h3{
            margin-bottom: 15px;
        }
        p{
            margin-bottom: 15px;
        }
        .btn{
            max-width: 282px;
            height: 67px;
            line-height: 67px;
        }
    }

    .altBtn{
        max-width: 440px;
        height: 72px;
        line-height: 72px;
        border: none ;
        margin-top: 50px;
        margin-bottom: 80px;
    }
}

.popUpSurrounding{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    background: #0000007a;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    .popUp{
        width: 100%;
        max-width: 440px;
        text-align: center;
        padding: 22px;
        background-color: $white;
        border-radius: 4px;
        position: relative;
        z-index: 98;
        h1{
            max-width: fit-content;
            margin: 0 auto;
            margin-bottom: 35px;
        }
        p{
            max-width: fit-content;
            margin: 0 auto;
            margin-bottom: 35px;
        }
        .btn{
            max-width: 282px;
            height: 50px ;
            line-height: 50px ;
            margin: 0 auto;
            margin-bottom: 30px;
        }
        &::after{
            width: 24px;
            height: 24px;
            top: 22px;
            right: 16px;
            position: absolute;
            content: '';
            background-image: url(../images/cross.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}

.education{
    width: 100%;
    &Top{
        a{
            color: #626262 ;
            margin-bottom: 26px;
            display: block;
        }
        h1{
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            color: $main;
            margin-bottom: 30px;
        }
    }
    &Aside{
        width: 100%;
        &Mobile{
            width: 100%;
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
            border: 1px solid #F2A873;
            border-radius: 4px;
        }
        &Item{
            display: flex;
            align-items: center;
            padding: 25px 20px;
            position: relative;
            border: 1px solid $yellowRed;
            border-radius: 4px;
            margin-bottom: 10px;
            &CheckBox{
                min-width: 16px;
                height: 16px;
                background-color: transparent;
                border: 1px solid $yellowRed;
                margin-right: 11px;
            }
            &Time{
                position: absolute;
                display: flex;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #8B8B8B;
                bottom: 12px;
                right: 20px;
                align-items: center;
                img{
                    margin-right: 2px;
                }
            }
        }
        &BuyCourse{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            max-width: 366px;
            width: 100%;
            margin-left: 40px;
            h6{
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                color: #626262;
                margin: 7px 0 18px 0;
            }
            button{
                width: 100%;
                border: 1px solid $yellowRed;
                border-radius: 4px;
                height: 50px;
                line-height: 50px;
                text-align: center;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $main;
            }
        }
    }
}
.tryForFree{
	width: 100%;
	margin-bottom: 60px;
	&Container{
		text-align: center;
		color: $main;
		&Top{
			max-width: fit-content;
			margin: 0 auto;
			margin-bottom: 25px;
			h1{
				margin-bottom: 10px;
			}
		}
		p{
			max-width: 345px;
			margin: 0 auto;
			line-height: 140%;
			margin-bottom: 40px;
		}
		&Navigation{
			display: flex;
			align-items: center;
			margin-bottom: 30px;
			img{margin: 0 13px 0 8px;}
			&Item{
				display: flex;
				align-items: center;
				color: #BDBDBD;
				cursor: pointer;
				&Circle{
					min-width: 33px;
					height: 33px;
					background-color: #BDBDBD;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $white;
					margin-right: 5px;
					line-height: 33px ;
					border-radius: 50%;
					transition: .3s;
					p{
						margin: 0 ;
					}
				}	
			}
			.--tryForFreeContainerNavigationItemActive{
				.tryForFreeContainerNavigationItemCircle{
					background-color: $yellowRed;
				}
				span{color: $black;}
			}
		}
		&Main{
			img{
				width: 100%;
				margin-bottom: 10px;
				border-radius: 10px;
			}
			&Navigation{
				text-align: start ;
				display: grid;
				grid-template-columns: repeat(2, 166px [col-start]);
				column-gap: 14px;
				.altBtn{
					height: 50px;
					line-height: 19px ;
					border: none ;
					text-align: center;
					color: $white;
					font-size: 16px ;
					border-radius: 4px;
				}
				.select-selected{
					border: 1px solid #F2A873 ;
					border-radius: 4px ;
					text-align: center ;
				}
			}
		}
        &Bot{
            margin-top: 20px;
            width: 100%;
            text-align: start ;
            &Item{
                margin-bottom: 20px;
                h6{
                    margin-bottom: 10px;
                }
                &:last-of-type{
                    .tryForFreeContainerBotItemItem{
                        border-color: $main;
                    }    
                }
                &Item{
                    display: flex;
                    align-items: center;
                    padding: 25px 20px;
                    position: relative;
                    border: 1px solid $yellowRed;
                    border-radius: 4px;
                    margin-bottom: 10px;
                    
                    p{
                        margin: 0 ;
                    }
                    &Time{
                        position: absolute;
                        display: flex;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #8B8B8B;
                        bottom: 12px;
                        right: 20px;
                        align-items: center;
                        img{
                            margin-right: 2px;
                        }
                    }
                }
            }
        }
	}
}
.--educationAsideItemFinised{
    .educationAsideItemCheckBox{
        background-color: $yellowRed;
    }
}

.--educationAsideItemCurrent{
    background-color: $yellowRed ;
    color: $white ;
    .educationAsideItemCheckBox{
        background-color: $white;
        background-image: url(../images/whitetick.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .educationAsideItemTime{
        color: $white ;
    }
}

.--educationAsideItemLocked{
    .educationAsideItemCheckBox{
        background-color: $white;
        background-image: url(../images/lock.svg);
        background-position: center;
        background-repeat: no-repeat;
        border: none;
    }
}

.navInfo{
    max-width: 170px;
    width: 100%;
    display: flex;
    text-align: start ;
    align-items: center;
    p{margin-bottom: 0 ;}
    img{
        width: 24px;
        height: 24px;
        margin-right: 10px;
        margin-bottom: 0 ;
    }
    span{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;

        color: #9C9C9C;
    }
}

.txtMobile{
    width: 100%;
    &Nav{
        padding-top: 20px;
        border-top: 1px solid $yellowRed;
        width: 100%;
        &Top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            button{
                height: 42px;
                line-height: 42px;
                max-width: 165px;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
                width: 100%;
                &:first-of-type{
                    border: 1px solid $main;
                    background-color: transparent;
                    color: #BDBDBD;
                }
            }
        }
        &Bot{
            width: 100%;
            display: flex;
        }

    }
    &Main{
        text-align: start ;
        margin-top: 30px;
    }
}

.txtDesktop{
    width: 100%;
    border: 1px solid $main;
    border-radius: 20px;
    padding: 30px 8px 0 8px;
    &Nav{
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid $main;
        &Center{
            display: flex;
            margin: 0 auto;
            .navInfo{
                &:last-of-type{
                    margin-left: 20px;
                }
            }
        }
    }
    &Main{
        text-align: start ;
        height: 520px;
        overflow-y: auto;
        
        transform: translateZ(0);
        &Inner{
            height: auto;
            position: relative;
            min-height: 600px;
            &::after{
                background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
                width: 100%;
                height: 145px;
                bottom: 0;
                content: '';
                position: absolute;
                
            }
        }
        &::-webkit-scrollbar{
            width: 3px;
            margin-bottom: 24px;
        }
        &::-webkit-scrollbar-track{
            width: 3px;
            background: #C4C4C4;
            margin-bottom: 24px;
        }
        &::-webkit-scrollbar-thumb{
            background: #000000;
        }
        .altBtn{
            position: absolute;
            bottom: 7px;
            left: 50%;
            transform: translateX(-50%);
            width: 344px;
            height: 46px;
            line-height: 46px;
            border: none ;
            z-index: 10;
        }
        p{
            max-width: none ;
        }
    }
}

.test{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #000000;
    color: #000000;
    h6{
        color: #9F9F9F;
        margin-bottom: 20px;
    }
    h5{
        margin-bottom: 20px;
    }
    &Inner{
        width: 100%;
        &Item{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            p{
                margin : 0 ;
            }
            &CheckBox{
                position: relative;
                min-width: 21px;
                height: 21px;
                margin-right: 10px;
                cursor: pointer;             
                border: 1px solid $main;
                border-radius: 50%;
                input{
                    opacity: 0;
                    cursor: pointer;
                    min-width: 21px;
                    height: 21px;
                    background-color: #F4F8F9;
                    position: relative;
                    z-index: 99;
                    &:checked{
                        background-color: transparent;
                    }
                }
                &::after{
                    width: 13px;
                    display: none;
                    height: 13px;
                    background-color: $main;
                    border-radius: 50%;
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 31;
                }
                input:checked ~ .testInnerItemCheckBox::after{
                    display: block;
                }
            }
            
        }
    }
}
.headerContainerDesktop, .headerContainerDesktopTarif,.headerContainer .exitDesktop, .aside, .mainTarif, .exitDesktop{
    display: none;
}
.select-selected{
    padding-left: 10px;
    padding-right: 10px;
}

.educationDescr{
    width: 100%;
    max-width: 555px;
    &Top{
        a{
            color: #626262;
            margin-bottom: 26px;
            display: block;
        }
        h1{
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            color: #1B3840;
            margin-bottom: 40px;
        }
    }
    button{
        width: 100%;
        height: 90px;
        line-height: 90px;
        border: 1px solid $yellowRed;
        border-radius: 4px;
        text-align: center;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $main;
        margin-bottom: 40px;
        background-color: transparent;
    }
    h5{
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 20px;
    }
    ul{
        width: 100%;
        padding-left: 25px;
        margin-bottom: 40px;
        display: block;
        li{
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            list-style: disc;
        }
    }
}
#Childrensname{
    margin-left: 0;
    &::before{
        content: "Children's name*";
    }
}
#yourName{
    margin-left: 0;
    &::before{
        content: "Your name*";
    }
}
.childrenMatrix{
    background-image: url(../images/userChildrenMatrix.png);
    background-size: 120%;
    .matrixCompabilityForm{
        .input::before{
            content: "Children's name*";
        }
    }
    .matrixCompabilityFormRow:last-of-type{
        display: flex;
        .input{
            width: 100%;
            margin-right: 15px;
        }
        
        .input::before{
            content: "Date of Birth*" ;
        }
        
    }
}

@media screen and (min-width: 480px) {
    .test{
        border: none ;
        padding-top: 0px ;
    }
    .txtMobile{
        display: none ;
    }
    .txtDesktop{
        display: block ;
    }
    .tryForFreeContainerNavigation{
		justify-content: space-between;
	}
    .childrenMatrix{
        background-size: unset ;
    }
    .managmentMobileItemRow{
        p{
            max-width: 212px ;
        }
    }
    .matrixCompabilityFormRow{
        display: flex;
        .input{width: 100%;}
        .input:last-of-type{
            margin-left: 20px;
        }
    }
    .pursharesTable{
        overflow-x: visible ;
    }
    .--massive{
        font-weight: 400 ;
        font-size: 32px ;
        line-height: 38px ;
    }
    .auth .authContainerName{
        flex-direction: row ;
        .input{
            width: 100%;
            display: block;
            &:first-of-type{
                margin-right: 20px;
            }
        }
    }
    .reanimation{
        width: 100%;
        margin: 0 auto ;
        margin-bottom: 20px ;
        max-width: 572px;
        &Container{
            &Top{
                width: 100%;
                padding-bottom: 20px;
                border-bottom: 1px solid #BDBDBD;
                text-align: center;
                display: flex;
                margin-bottom: 60px;
                img{
                    display: block;
                }
                span{
                    display: block;
                    margin: 0 auto;
                }
            }
            input{
                background: #FFFFFF;
                border-radius: 4px;
                width: 100%;
                height: 54px;
                font-weight: 400;
                font-size: 12px;
                line-height: 25px;
                color: #626262;
                padding: 15px;
                max-width: 477px;
                margin: 0 auto;
                display: block;
            }
            p{
                line-height: 132.49%;
                margin-top: 20px;
                margin-bottom: 30px;
                max-width: 477px;
                margin: 0 auto;
            }
            .btn{
                height: 64px;
                line-height: 64px;
                max-width: 477px ;
                margin: 0 auto;
                display: block;
            }
        }
    }
}
.educationMain{
    display: none;
}

@media screen and (min-width: 768px) {

    .testDesktop{
        padding: 30px 29px 0 29px ;
        max-width: 728px ;
        margin: 0 auto ;
    }
    .tryForFreeContainerNavigation{
		justify-content: center;
	}
    .tryForFreeContainerBot{
        display: flex;
        justify-content: space-between;
        &Item{
            width: 100%;
            &:first-of-type{
                margin-right: 34px;
            }
        }
    }
    .userArchiveMatrixPersonalTop{
        max-width: 616px ;
    }
    .userArchiveMatrixPersonalInnerAccordionLocked{
        flex-direction: row ;
        align-items: center;
        justify-content: space-between ;
        p{
            margin-bottom: 0 ;
            max-width: 340px;
            text-align: start ;
        }
        .btn{
            margin-bottom: 0 ;
        }
    }
    .tarifsContainerSpecific{
		align-items: center;
	}
	.tarifsContainerSpecificItem{
		max-width: 360px;
	}
	.tarifs{
		background-size: 100% 99% ;
	}
    .managmentMobile{
        display: none ;
    }
    .managment .pursharesTable{
        display: block;
    }
    .matrixCompability{
        max-width: 473px;
    }
    .btn{
        margin-bottom: 60px;
    }
    form{
        max-width: 477px;
        width: 100%;
        margin: 0 auto;
    }
    .purshares table{
        width: 614px ;
    }
    .purshares{
        max-width: 614px ;
    }

    .headerContainerDesktop{
        display: flex ;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        margin-right: 40px;
        &Profile{
            display: flex ;
            align-items: center;
            margin-left: 30px;
            img{
                margin-right: 10px;
            }
        }
    }
    .mainLeft{
        max-width: 477px;
    }
    .main{
        display: flex;
        max-width: none ;
        justify-content: space-between;
        &Tarif{
            max-width: 225px;
            width: 100%;
            margin-left: 20px ;
            display: block ;
            h4{
                margin-bottom: 20px;
            }
            &Inner{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-height: 138px;
                border: 1px solid $main;
                color: $main;
                flex-direction: column;
                p{
                    margin-bottom: 29px;
                }
            }
        }
    }
    .managment{
        
        max-width: 731px ;
    }
    .pursharesTable{display: block ;}
    .educationDescrMain{
        max-width: none ;
        width: 100% ;

    }
    .educationDescr{
        max-width: none ;
    }
    .educationDescrInner{
        padding-right: 191px;
    }
}
#videoMain{
    max-width: none;
}
.txtEducationAside{
    display: none;
}
.txtEducationMain{
    display: block;
}


@media screen and (min-width: 1000px) {
    .educationAsideItem{
        width: 100%;
        margin-right: 0px ;
    }
    .headerContainer .exitDesktop{
        display: block;
    }
    .testDesktop{
        max-width: 907px ;
        padding: 30px 41px 0 41px;
    }
    .educationFlex{
        display: flex ;
        justify-content: center;
    }
    .educationMain{
        display: block ;
        max-width: 535px;
        margin-bottom: 100px;
        img{
            width: 100%;
            margin-bottom: 40px;
        }
        h5{
            font-weight: 500;
            font-size: 22px;
            line-height: 26px;
            margin-bottom: 20px;
        }
        ul{
            width: 100%;
            padding-left: 25px;
            margin-bottom: 40px;
            display: block;
            li{
                font-weight: 400;
                font-size: 18px;
                line-height: 140%;
                list-style: disc;
            }
        }
    }
    .tryForFreeContainerNavigation{
       img{
           width: auto ;
       }
    }
    .videoMain{
        max-width: none ;
        width: 100%;
        .tryForFreeContainerBotItemItemTime{
            position: absolute;
            align-items: center;
            white-space: nowrap;
            width: 72px;
            img{
                margin: 0 ;
                margin-right: 3px ;
            }
        }
    }
    .educationAside{
        max-width: 366px;
    }
    .educationAsideMobile{display: none ;}
    .educationAsideItem{
        max-width: 366px;
        width: 100%;
        margin-left: 40px;

    }

    .headerContainerMobile{display: none ;}
    .headerContainerDesktopTarif{
        display: block ;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #1B3840;
        span{
            color: #626262;
        }
        margin-right: 30px;
    }
    .headerContainerDesktop img{display: inline-block ;}
    .wrapperContainer{
        display: flex;
    }
    .aside{
        display: block ;
        border-right: 1px solid #ACC1C6;
        margin-right: 20px;
        padding-top: 70px;
        padding-left: 23px;
        &Inner{
            max-width: 222px;
            width: 100%;
            margin-right: 100px;
            color: $main;
            &Item{
                margin-bottom: 25px;
                transition: .3s;
                cursor: pointer;
                max-width: fit-content;
                ul{
                    padding: 20px 0 0 25px;
                    li{
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        color: #626262;
                        margin-bottom: 15px;
                        list-style: disc;
                    }
                }
            }
            .--asideInnerItemActive{color: #F2A873;}
            .--asideInnerItemNew{
                position: relative;
                &::after{
                    position: absolute;
                    content: '';
                    top: -10px;
                    right: -30px;
                    height: 36px;
                    width: 36px;
                    background-image: url(../images/new.png);
                }
            }
        }
        .--massive{
            font-weight: 400 ;
            font-size: 20px ;
            line-height: 23px ;
        }
    }
    .main{
        padding-top: 70px;
        width: 100%;
        max-width: 715px;
    }
    .tryForFreeContainerNavigation{
        img{
            margin-bottom: 0px;
        }
    }
    .navInfo{
        img{
            margin-bottom: 0px;
            max-width: 24px;
        }
    }
}

@media screen and (min-width: 1440px) {

    .educationAsideMobile{
        margin-left: 40px ;
    }
    .educationAside{
        display: block ;
    }
    .educationMain{
        max-width: 909px ;
    }
    .userArchiveMatrixPersonal{
        max-width: 907px;
    }
    .tarifsContainerSpecific{
		flex-direction: row ;
		justify-content: space-between ;
		&:last-of-type{
			justify-content: center ;
			.tarifsContainerSpecificItem{
				&:first-of-type{
					margin-right: 37px;
				}
			}
		}
	}
	.tarifs{
		min-height: 1800px ;
	}
    .matrixCompability{
        max-width: none ;
        background-position: right 30px ;
    }
    .matrixCompabilityForm{
        max-width: 473px;
    }
    .aside{
        margin-right: 60px ;
    }
    .main{
        max-width: none ;
    }
    .mainTarif{
        max-width: 375px ;
        margin-left: 135px;
        &Inner{
            flex-direction: row;
            min-height: 0px ;
            padding-top: 18px ;
            padding-bottom: 18px ;
            p{
                margin-bottom: 0;
                margin-right: 50px;
            }
        }
    }
    .mainLeft{
        min-width: 477px ;
    }
    .container {
        max-width: 1345px;
    }
    .tarifsContainerSpecific{
        .tarifsContainerSpecificItem{
            max-width: 278px;
        }
        &:last-of-type{
            .tarifsContainerSpecificItem{
                max-width: 320px;
            }
        }
    }
    #tarifsContainerSpecificItemCenter{
		margin-left: 34px ;
		margin-right: 34px ;
        max-width: 320px ;
	}
    .yourMatrix{
        background-position: right -20px ;
    }
}