@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

$yellowRed: #F2A873;
$orange: #FB9146;
$grey: #979797;
$white: #FFFFFF;
$main: #1B3840;
$pink: #F3C4A9;
$black: #000;

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	overflow-y: auto;
    overflow-x: hidden;
	font-family: 'ABeeZee', sans-serif;
    font-family: 'Roboto', sans-serif;
	background-color: $main;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


h1{
	font-weight: 500;
	font-size: 36px;
	line-height: 45px;
}
h2{
	font-weight: 400;
	font-size: 34px;
	line-height: 38px;
}
.--massive{
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

.--big{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}
.--huge{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
}

.--medium{
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}

.--small{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;	
}
.--bold{
	font-weight: 500;
}
.--bolder{
	font-weight: 600;
}
.--boldest{
	font-weight: 700;
}
input{
	border: 1px solid $main;
	height: 54px;
	line-height: 54px;
	padding: 0px 8px;
	color: rgba(27, 56, 64, 0.5);
	background-color: transparent;
}

@media screen and (max-width: 500px) {
	h1{
		font-size: 24px !important;
		line-height: 140% !important;
	}
	.--big{
		font-size: 16px;
		line-height: 19px;
	}

}
@media screen and (min-width:500px){
	.whyYouNeedMatrix{
		min-height: 1200px !important;
		background-size: 100% 99% !important;
	}
	.header{
		background-position: 0px 100px !important;
	}
}
@media screen and (min-width:600px){
	.header{
		background-position: top !important;
	}
}
@media screen and (max-width: 380px) {
	h2{
		font-size: 24px;
	}
}
@media screen and (max-width: 370px) {
	.header{
		background-position: 0 100px !important;
	}
	.tab{
		white-space: nowrap;
	}
	.desiredJob{
		margin-bottom: 100px;
	}
}
.btn{
	max-width: 243px;
	height: 78px;
	width: 100%;
	background: $main;
	color: $white;
	line-height: 78px;
	transition: .3s;
	font-size: 20px;
	&:hover{
		background: $white;
		color: $main;
	}
	&:active{
		background: $orange;
		color: $white;
	}
	&:disabled{
		background: $pink;
		color: $white;
	}
}
.altBtn{
	max-width: 243px;
	height: 78px;
	font-size: 20px;
	width: 100%;
	background: $yellowRed;
	color: $main;
	line-height: 78px;
	transition: .3s;
	border: 1px solid $main;
	&:hover{
		background: $yellowRed;
		color: $main;
		border-color: transparent;
	}
	&:active{
		color: $main;
		border-color: $yellowRed;
	}
	&:disabled{
		color: $main;
		border-color: $pink;
	}
}

.line{
	width: 44px;
	height: 3px;
	background-color: #F2A873;
}

.container {
	max-width: 1243px;
	padding: 0 14px;
	width: 100%;
	margin: 0 auto;
}

.header{
	min-height: 1145px;
	margin-bottom: 50px;
	background-image: url(../images/headerBgMiniMobile.png);
	background-position: top;
	background-size: 100%;
	background-repeat: no-repeat;
	color: $main;
	&Container{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 40px;
		background-color: $yellowRed;
		margin-bottom: 22px;
		.logo{
			width: 144px;
			height: 34px;
			background-image: url(../images/DarkLogo.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			margin-bottom: 20px;
		}
		nav{
			max-width: 1043px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			ul{
				display: flex;
				flex-direction: column;
				position: fixed;
				background-color: #1b38408e;
				width: 100vw;
				height: 100vh;
				top: 0;
				left: 0;
				padding: 30px;
				align-items: center;
				transform: translateY(-200%);
				transition: .3s;
				padding-top: 200px;
				z-index: 4;
				
				li{
					margin: 0 0 20px 0;
					a {
						color: $white;
					}
				}
			}
			button{
				border-radius: 0 !important;
				&:first-of-type{
					width: 291px;
					height: 50px;
					line-height: 50px;
				}
				&:nth-of-type(2){
					width: 83px;
					height: 50px;
					line-height: 50px;
					display: none;
				}
			}
			.custom-select{display: none;}
			.burgermenu{
				width: 34px;
				height: 23px;
				background-repeat: no-repeat;
				background-position: center;
				background-image: url(../images/menu.svg);
				background-size: contain;
				z-index: 10;
				position: relative;
				transition: .3s;
				cursor: pointer;
			}
		}
	}
	&SecondContianer{
		text-align: center;
		h1{
			margin-bottom: 20px;
		}
		p{
			max-width: 440px;
		}
		&Form{
			width: 100%;
			max-width: 392px;
			&Top{
				width: 100%;
				display: flex;
				justify-content: space-between;
				margin-bottom: 30px;
				margin-top: 30px;
				div{
					border-bottom: 1px solid #1B3840;
					padding-bottom: 7px;
				}
			}
			&Row{
				width: 100%;
				display: flex;
				margin-bottom: 16px;
				.fm{
					display: flex;
					min-width: 83px;
					margin-left: 20px;
					button{
						width: 100%;
						background-color: transparent;
						border: 1px solid #1B3840;
						&:first-of-type{
							border-right: none;
						}
					}
				}
				input{
					width: 100%;
				}
				button{
					height: 54px;
					line-height: 53px;
					max-width: none;
				}
			}
		}
	}
}
@media screen and (min-width:380px){
	.header{
		min-height: 1300px;
		margin-bottom: 0;
	}
}
@media screen and (min-width:430px){
	.header{
		min-height: 1500px;
		margin-bottom: 0;
	}
}
@media screen and (min-width:480px){
	.header{
		min-height: 1170px;
		background-image: url(../images/headerBgSmallMobile.png);
		.altBtn{
			display: inline-block !important;
		}
		.custom-select{display: block !important;}
	}
	.videoContainerTop, .fateNumbersContainerInnerTop{
		text-align: start !important;
	}
	.fateNumbersContainerInnerTop{
		max-width: 318px !important;
	}
	.fateNumbersContainerInnerRow{
		&Item{
			&:last-of-type{
				max-width: 210px;
			}
		}
	}
	.desiredJobContainer{
		max-width: 448px !important;
		top: 60px !important;
	}
	.socialNetworksContainerInner{
		flex-direction: row !important;
		&Row{
			&:first-of-type{
				margin-right: 14px;
			}
		}
	}
	.faqContainer {
		img{
			max-width: none !important;
		}
	}
	.footerContainerTop{
		flex-direction: row !important;
		border-bottom: 1px solid $grey;
		padding-bottom: 10px;
		&Heading{
			border: none !important;
			padding: 0px !important;
			margin: 0px !important;
			display: flex;
			align-items: center;
		}
	}
	.footerContainerMid{
		flex-direction: row !important;
		justify-content: space-between !important;
		ul{
			&:first-of-type{
				margin-right: 15px;
			}
		}
		&ItemBot{
			padding-right: 40px !important;
		}
	}
	.footerContainerBotPayment{
		max-width: none !important;
	}
}
@media screen and (min-width:768px){
	.showTablets{
		display: block !important;
	}
	.whyYouNeedMatrix{
		background-size: 100% 90% !important;
		margin-bottom: 0px !important;
		max-height: none !important;
		min-height: 1522px!important;
	}
	.header{
		min-height: 1400px;
		background-image: url(../images/headerBgMobile.png);
		&Container{
			flex-direction: row !important;
			align-items: center;
			justify-content: space-between;
			nav{
				max-width: 460px !important;
			}
		}
		
	}
	.headerSecondContianer{
		display: flex;
		flex-direction: column !important;
		align-items: center !important;
		p{
			max-width: none;
		}
	}
	.fateNumbersContainerInner{
		max-width: 721px !important;
		h2{
			font-size: 40px;
			line-height: 47px;
		}
	}
	.fateNumbersContainerInnerRowItem:last-of-type {
		max-width: 315px;
	}
	.fateNumbersContainerInnerTop{
		max-width: fit-content !important;
	}
	.mainThingContainer{
		text-align: start !important;
		h1{
			text-align: start !important;
		}
		.line{
			text-align: start !important;
		}
		p{
			text-align: start !important;
			font-size: 20px !important;
			line-height: 140% !important;
		}
		.mainThingContainerTop{
			align-items: flex-start;
		}
	}
	.mainThingBot{
		max-width: 690px;
		margin: 0 auto;
		margin-top: 134px;
	}
	.whoUsesCalcContainerTop{
		align-items: flex-start !important;
	}
	.whoUsesCalcContainerTabs{
		max-width: 598px !important;
	}
	.whyYouNeedMatrixContainerInnerLeft{
		max-width: 322px;
		
		&Item{
			max-width: none !important;
			margin-bottom: 60px !important;
			p{
				max-width: none !important;
				font-size: 24px;
				line-height: 28px;
			}
		}
	}

	.whyYouNeedMatrix{
		min-height: 1522px !important;
		padding-top: 100px !important;
		img{
			width: 100%;
			max-height: 408px !important;
			max-width: none !important;
			object-fit: contain;
		}
	}
	.recomendationsContainer {
		text-align: start !important;
		.recomendationsContainerTop{
			align-items: flex-start;
		}
	}
	.weOfferContainerGrid{
		grid-template-columns: repeat(2, auto [col-start]) !important;
		grid-template-rows: repeat(4, auto [row-start]) !important;
		margin-bottom: 27px;
		button{
			display: none;
		}
		justify-content: space-evenly;
		&Item{
			max-width: 236px;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			img{
				width: 52px;
			}
		}
	}
	
	.desiredJobContainer {
		max-width: 730px !important;
	}

	.--huge{
		font-size: 24px !important;
	}
	.tarifsContainerSpecific{
		align-items: center;
	}
	.tarifsContainerSpecificItem{
		max-width: 360px;
	}
	.tarifs{
		background-size: 100% 99% !important;
	}
	.blog{
		margin-bottom: 100px !important;
	}
	.faqContainerInnerItemMain{
		max-width: fit-content;
		width: 100%;
		p{
			max-width: 510px !important;
		}
	}
	.footer{
		display: flex;
		justify-content: flex-end;
		background-color: transparent !important;
		margin-bottom: 86px;
		margin-top: 133px;
	}
	
	.footerContainer {
		max-width: 704px !important;
		background-color: $white;
		margin: 0 !important;
		position: relative;
		padding-left: 113px;
		overflow: visible;
		
		.decor{
			transform: translate(-50%, -50%);
			top: 0;
			left: 0;
			position: absolute;
			display: block !important;
			width: 140px;
			height: 258px;
			z-index: 32;
		}
	}
}

.--activeMenu{
	transform: translateY(0%) !important;
}
.--activeMenuBtn{
	transform: rotate(90deg) !important;
}
.custom-select {
	position: relative;
}
  
.custom-select select {
	display: none;
}

.select-selected {
	background-color: transparent !important;
	color: $main !important;
	padding: 17px 10px !important;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 22px;
	right: 10px;
	width: 11px;
	height: 5px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/select.svg);
}




.select-items div,.select-selected {
	color: $main !important;
	background-color: transparent;
	padding: 17px 17px;
	height: 50px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	transition: .3s;
	border: 1px solid $main;
}

.select-items {
	position: absolute;
	background-color: $white;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	color: $main !important;
	transition: .3s;
}

.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: $yellowRed;
}

.video{
	width: 100%;
	margin-bottom: 70px;
	color: $white;
	&Container{
		text-align: center;
		&Top{
			
			max-width: fit-content;
			margin: 0 auto;
			.line{
				display: inline-block;
			}
		}
		p{
			margin: 30px 0 40px 0;
			line-height: 140%;
		}
		img{
			width: 100%;
			margin-bottom: 30px;
		}
		button{
			height: 73px;
			line-height: 73px;
		}
	}
}

.fateNumbers{
	min-height: 329px;
	width: 100%;
	background-color: $yellowRed;
	margin-bottom: 156px;
	&Container{
		position: relative;
		&Inner{
			max-width: 461px;
			width: 100%;
			min-height: 395px;
			background-color: $white;
			position: absolute;
			top: 20px;
			right: -20px;
			padding: 30px 20px 10px 20px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			&Top{
				width: 100%;
				max-width: 236px;
				text-align: center;
				.line{
					display: inline-block;
				}
			}
			&Row{
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding-right: 20px;
				&Item{
					max-width: 158px;
					width: 100%;
					&:first-of-type{
						max-width: fit-content;
					}
					h2{
						margin-bottom: 10px;
					}
				}
			}
			span{
				color: $yellowRed;
			}
		}
	}
}

.mainThing{
	width: 100%;
	color: $white;
	margin-bottom: 40px;
	&Container{
		&Top{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			margin-bottom: 30px;
			h1{
				margin-bottom: 10px;
			}
		}
		p{
			text-align: center;
			a{
				color: $yellowRed;
			}
		}
	}
}
.mainThingBot{
	width: 100%;
	background-color: $yellowRed;
	margin-bottom: 70px;
	&Container{
		padding: 30px 24px;
		text-align: center;
		p{
			line-height: 140%;
			margin-bottom: 30px;
		}
	}
}
.whoUsesCalc{
	width: 100%;
	color: $white;
	margin-bottom: 70px;
	&Container{
		display: flex;
		flex-direction: column;
		align-items: center;
		&Top{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			h1{
				margin-bottom: 15px;
			}
			
		}
		p{
			text-align: center;
			line-height: 140%;
			margin: 30px 0;
		}
		&Tabs{
			max-width: 443px;
			width: 100%;
			background-color: $white;
			color: $main;
			&Top{
				display: flex;
				div{
					width: 100%;
					height: 54px;
					line-height: 54px;
					padding: 0 24px;
					background: $yellowRed;
					box-shadow: inset 10px 0px 34px rgba(0, 0, 0, 0.25);
					transition: .3s;
					&:first-of-type{
						text-align: end;
					}
					&:last-of-type{
						text-align: start;
					}
				}
				.--tabActive{
					background: $white;
					box-shadow: none;
				}
			}
			&Inner{
				padding: 10px 11px 20px 11px;
				display: none;
				&Item{
					display: flex;
					margin-bottom: 30px;
					p{
						text-align: start !important;
						margin: 0 !important;
					}
					img{
						margin-right: 16px;
					}
				}
				button{
					max-width: 282px;
					height: 67px;
					line-height: 67px;
					text-align: center !important;
					margin: 0 auto;
					display: block;
				}
			}
			.--tabContentActive{
				display: block;
				animation: fade 0.3s linear;
			}
		}
	}
}

@keyframes fade {
	from {opacity: 0;}
	to {opacity: 1;}
}

.tarotCards{
	width: 100%;
	color: $white;
	margin-bottom: 70px;
	&Container{
		display: flex;
		align-items: center;
		flex-direction: column;
		.line{
			margin-top: 10px;
		}
		p{
			text-align: center;
			line-height: 27px;
			margin: 30px 0px;
		}
		img{
			width: 100%;
			margin-bottom: 30px;
		}
	}
}

.whyYouNeedMatrix{
	background-image: url(../images/youNeedMatrix/background.png);
	background-size: cover;
	width: 100%;
	min-height: 952px;
	padding-top: 50px;
	color: $main;
	background-repeat: no-repeat;
	margin-bottom: 70px;
	max-height: 950px;
	&Container{
		&Top{
			margin: 0 auto;
			max-width: fit-content;
			margin-bottom: 40px;
			.line{
				margin-top: 10px;
			}
		}
		&Inner{
			display: flex;
			justify-content: space-between;
			&Left{
				width: 100%;
				min-width: 175px;
				&Item{
					display: flex;
					line-height: 19px;
					max-width: 211px;
					margin-bottom: 40px;
					width: 100%;
					img{
						margin-right: 8px;
						width: 35px !important;
					}
					&:nth-of-type(1){
						color: #DC0111;
					}
					&:nth-of-type(2){
						color: #D55400;
					}
					&:nth-of-type(3){
						color:  #E39302;
					}
					&:nth-of-type(4){
						color: #018925;
					}
					&:nth-of-type(5){
						color: #0488D2;
					}
					&:nth-of-type(6){
						color: #DD5701;
					}
					&:nth-of-type(7){
						color: #94057E;
					}
					&:nth-of-type(8){
						color: #0C3595;
					}
					&:last-of-type{
						margin-bottom: 0 !important;
					}
				}
			}
			img{
				max-height: 267px;
				
				&:first-of-type{
					max-width: 194px;
					max-height: 193px;
				}
			}
		}
	}
}

.work{
	width: 100%;
	text-align: center;
	color: $white;
	margin-bottom: 70px;
	&Container{
		&Top{
			text-align: center;
			margin-bottom: 30px;
			.line{
				display: inline-block;
			}
			h1{
				margin-bottom: 10px;
			}
		}
		p{
			line-height: 140%;
		}
		img{
			margin-bottom: 30px;
			width: 100%;
		}
		button{
			border: 1px solid #FAFAFE;
			height: 73px;
			line-height: 73px;
			max-width: 316px;
		}
	}
}

.recomendations{
	width: 100%;
	text-align: center;
	color: $white;
	margin-bottom: 50px;
	&Container{
		&Top{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 30px;
			h1{
				margin-bottom: 10px;
			}
		}
	}
}

.weOffer{
	width: 100%;
	background-color: $white;
	color: $main;
	&Container{
		padding-top: 37px;
		padding-bottom: 30px;
		text-align: center;
		h2{
			margin-bottom: 30px;
		}
		&Grid{
			display: grid;
			grid-template-columns: repeat(1, 100% [col-start]);
			grid-template-rows: repeat(9, auto [row-start]);
			row-gap: 35px;
			&Item{
				img{
					margin-bottom: 20px;
				}
			}
		}
		button{
			width: 100%;
			max-width: none;
			border: none;
		}
	}
}

.desiredJob{
	width: 100%;
	position: relative;
	min-height: 758px;
	&Container{
		background-color: $main;
		color: $white;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 28px;
		text-align: center;
		padding: 0 !important;
		max-width: 347px;
		&Top{
			text-align: start;
			margin: 0 auto;
			max-width: fit-content;
			margin-bottom: 30px;
		}
		img{
			width: 100%;
			max-width: 270px;
		}
		p{
			margin: 20px 0;
			line-height: 140%;
			&:last-of-type{
				margin-bottom: 9px;
			}
		}
	}
}

.tarifs{
	min-height: 3253px;
	background-image: url(../images/tarifsBg.png);
	padding-top: 101px;
	text-align: center;
	color: $main;
	margin-bottom: 70px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	h1 {
		font-family: 'ABeeZee', sans-serif;
	}
	&Container{
		&Heading{
			padding-bottom: 10px;
			border-bottom: 1px solid $main;
			display: inline-block;
			max-width: 270px;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		&Specific{
			display: flex;
			flex-direction: column;
			text-align: start;
			&Item{
				width: 100%;
				border: 1px solid $yellowRed;
				padding: 30px 14px 7px 14px;
				min-height: 470px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				&Top{
					h2{
						text-align: center;
						margin-bottom: 30px;
					}
					ul{
						
						li{
							list-style: url(../images/tarifs/listOrange.svg);
							margin-left: 13px;
							margin-bottom: 20px;
						}
					}
				}
				h6{
					text-align: center;
					margin: 30px 0 13px 0;
				}
				&Bot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					&Price{
						width: 100%;
						max-width: fit-content;
						span{
							background: #E03F57;
							border-radius: 38px;
							padding: 2px 12px;
							color: $white;
						}
						h2{
							font-weight: 400;
							font-size: 40px;
							margin: 7px 0 2px 0;
						}
						p{
							color: $grey;
							text-decoration: line-through;
						}
						
					}
					button{
						height: 54px;
						width: 162px;
						line-height: 54px;
						background-color: $white;
					}
				}
				
				.bottomValid{
					color: $yellowRed;
					max-width: fit-content;
					margin: 19px auto 30px auto;
				}
				&:nth-of-type(2){
					color: $white;
					background-color: $main;
					margin: 47px 0 28px 0;
				}
				&:nth-of-type(3){
					padding-bottom: 30px;
				}
			}
		
			.tarifsContainerSpecificItemOrange{
				background-color: $yellowRed;
				color: $main !important;
				button{
					background-color: $main;
					color: $yellowRed;
				}
				li{
					list-style: url(../images/tarifs/listMain.svg);
				}
				p{color: $main !important;}
			}
			.tarifsContainerSpecificItemDefault{
				color: $main !important;
				background-color: transparent;
			}
		}
	}
}
.blog{
	color: $white ;
	margin-bottom: 70px;
	&Container{
		&Top{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 20px;
			.line{
				margin-top: 10px;
			}
			&SeeAll{
				img{
					margin-left: 17px;
				}
			}
		}
		&Slider{
			display: flex;
			width: 100%;
			margin-bottom: 30px;
			&Item{
				max-width: 320px;
				width: 100%;
				color: $grey;
				background-color: $white;
				img{
					width: 100%;
					margin-bottom: 16px;
				}
				h6{
					line-height: 140%;
					color: #181127;
					margin: 0 15px;
					margin-bottom: 16px;
				}
				&Bot{
					display: flex;
					justify-content: space-between;
					align-items: center;
					margin: 0 15px;
					margin-bottom: 10px;
					&Author{
						display: flex;
						align-items: center;
						img{
							margin-right: 17px;
							height: 32px;
							width: 32px;
							margin-bottom: 0 !important;
						}
					}
				}
			}
		}
		&Dots{
			display: flex;
			margin: 0 auto;
			max-width: fit-content;
			&Item{
				height: 9px;
				width: 9px;
				border-radius: 50%;
				background: $yellowRed;
				margin-right: 23px;
				transition: .3s;
				&:last-of-type{
					margin-right: 0 !important;
				}
			}
			.--dotActive{
				background-color: $white;
				outline: 1px solid $white;
				outline-offset: 7px;
			}
		}
	}
}

.reviews{
	margin-bottom: 70px;
	width: 100%;
	color: $white;
	&Container{
		&Top{
			margin-bottom: 20px;
			h1{
				margin-bottom: 10px;
			}
		}
		&Slider{
			width: 100%;
			display: flex;
			margin-bottom: 40px;
			&Item{
				border: 1px solid $white;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 25px;
			}
		}
		&Control{
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			&Dots{
				display: flex;
				margin: 0 auto;
				max-width: fit-content;
				&Item{
					height: 9px;
					width: 9px;
					border-radius: 50%;
					background: $yellowRed;
					margin-right: 23px;
					transition: .3s;
					&:last-of-type{
						margin-right: 0 !important;
					}
				}
				.--dotActive{
					background-color: $white;
					outline: 1px solid $white;
					outline-offset: 7px;
				}
			}
		}
	}
}

.socialNetworks{
	color: $white;
	margin-bottom: 70px;
	&Container{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		.line{
			margin-top: 10px;
		}
		img{
			margin: 20px 0;
			width: 100%;
		}
		&Inner{
			display: flex;
			flex-direction: column;
			&Row{
				display: flex;
				flex-direction: column;
				&Item{
					margin-bottom: 14px;
					img{
						margin: 0 !important;
					}
				}
			}
		}
		h2{
			margin-bottom: 20px;
		}
	}
}

.faq{
	width: 100%;
	margin-bottom: 70px;
	color: $white;
	&Container{
		display: flex;
		flex-direction: column;
		align-items: center;
		img{
			width: 100%;
			max-width: 320px;
			margin: 0 auto;
			margin-bottom: 40px;
		}
		&Inner{
			width: 100%;
			h1{
				margin-bottom: 10px;
			}
			&Item{
				padding: 20px 0;
				display: flex;
				justify-content: space-between;
				width: 100%;
				border-bottom: 1px solid $grey;
				.--small{
					display: none;
					color: $yellowRed;
					margin-top: 20px;
				}
				img{
					width: 30px;
					height: 30px;
					margin: 0;
				}
				p{
					max-width: 270px;
					line-height: 140%;
				}
			}
			.--acordionActive{
				.--small{
					display: inline-block !important;
				}
			}
		}
	}
}
.footer{
	background-color: $white;
	color: $main;

	&Container{
		padding-top: 30px;
		position: relative;
		&Top{
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 23px;
			&Heading{
				width: 100%;
				padding-bottom: 20px;
				border-bottom: 1px solid #EAEAEA;
				text-align: center;
				margin-bottom: 20px;
			}
			&Btns{
				display: flex;
				margin: 0 auto;
				max-width: fit-content;
				button{
					height: 50px;
					line-height: 50px;
					width: 200px;
					border: none;
					&:last-of-type{
						background-color: $white;
						border: 1px solid $main;
						width: 83px;
						color: $main !important;
						margin-left: 4px;
					}
				}
				
			}
		}
		&Mid{
			display: flex;
			flex-direction: column;
			margin-bottom: 30px;
			&Item{
				h4{margin-bottom: 16px;}
				&Contact{
					display: flex;
					align-items: center;
					margin-bottom: 12px;
					img{
						margin-right: 8px;
					}
					a{
						color: $yellowRed;
					}
				}
				&Top{
					display: flex;
					img{
						margin-right: 15px;
						&:last-of-type{
							margin: 0;
						}
					}
				}
				&Bot{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 20px;
					li{
						margin-bottom: 15px;
						&:last-of-type{
							margin-bottom: 0;
						}
					}
					padding-right: 100px;
				}
			}
		}
		&Bot{
			h6{
				margin-bottom: 15px;
			}
			&Payment{
				display: flex;
				flex-wrap: wrap;
				max-width: 271px;
				img{margin-right: 19px; margin-bottom: 15px;}
			}
			&TechSupport{
				display: flex;
				margin: 27px 0 37px 0;
				img{
					margin-right: 8px;
				}
				p{
					line-height: 140%;
				}
				span{
					color: $yellowRed;
				}

			}
			h5{
				text-align: center;
				margin-bottom: 50px;
			}
			h4{
				color: $grey;
				line-height: 140%;
				font-weight: 300;
				text-align: center;
			}
		}
	}
}